<mat-card-actions>
    <button mat-fab (click)="exit()">Voltar
        <mat-icon>reply</mat-icon>
    </button>
</mat-card-actions>
<mat-card-content>
    <form>
        <mat-form-field appearance="outline">
            <mat-label>Id</mat-label>
            <input matInput [(ngModel)]="book.id" name="id" disabled="true">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Autor</mat-label>
            <input matInput [(ngModel)]="book.author" name="author">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>launchDate</mat-label>
            <input matInput [(ngModel)]="book.launchDate" name="launchDate">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Preço (R$)</mat-label>
            <input matInput [(ngModel)]="book.price" name="price">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput [(ngModel)]="book.title" name="title">
        </mat-form-field>
        <!-- 
        id?: number;
        author: string;
        launchDate: string;
        price: number;
        title: string;
        -->
    </form>
    <mat-card-actions>
        <button mat-fab (click)="update()">Salvar
            <mat-icon>done</mat-icon>
        </button>
    </mat-card-actions>
</mat-card-content>