<mat-card-actions>
    <button mat-fab (click)="exit()">Voltar
        <mat-icon>reply</mat-icon>
    </button>
</mat-card-actions>
<mat-card-content>
    <p>Id: {{book.id}}</p>
    <mat-divider></mat-divider>
    <p>Livro: {{book.title}}</p>
    <mat-divider></mat-divider>
    <p>Preço: {{book.price}}</p>
    <mat-divider></mat-divider>
    <p>Autor: {{book.author}}</p>
    <mat-divider></mat-divider>
    <p>Data de lançamento: {{book.launchDate}}</p>
    <mat-divider></mat-divider>
    <mat-card-actions>
        <button mat-fab (click)="deletar()" class="delete">Excluir
            <mat-icon>delete</mat-icon>
        </button>
    </mat-card-actions>
</mat-card-content>