.edit>i {
    color: #d9cd26;
}

.delete>i {
    color: #ff5757;
}

i {
    transition: .8s;
}

i:hover {
    transform: scale(1.3);
}

.action-icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 8px;
}