.header{
    background-color: rgb(49, 0, 95);
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header a{
    display: flex;
    align-items: center;
}
.header a{
    text-decoration: none;
    color: rgb(244, 244, 255);
    font-weight: 500;
}
.header .icon i{
    padding-left: 5px;
}
.header .icon{
    padding-left: 20px;
}
.header .user{
    color: rgb(98, 98, 255);
    font-weight: 400;
    padding-right: 20px;
}
.header .user i{
    font-size: 2.2rem;
    padding-right: 8px;
}